<% include partials/header %>
    <p class="title">
        <%= package.placeName %>
    </p>
    <img src="<%= package.image %>">
    <h5>Per person Cost
        <%= package.ppcost %>
    </h5>
    <h5>Address:--
        <%= package.address %>
    </h5>
    <h5>Specification:--
        <%= package.specification %>
    </h5>
    <br />
    <a href="/plan/<%= package._id %>/edit" class="button is-warning">
        Edit
      </a>
      <form action="/plan/<%= package._id %>?_method=DELETE" method="POST">
        <input type="submit" class="button is-danger" value="Delete">
    </form>

    <% include partials/footer %>